.logoMain {
        font-size: 3em;
        text-align: center;
        margin: 1em 0 1em 0;
        font-family: "Noto Serif Display", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        font-weight: 900;
        color: black;
}
.ham-outer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: 1em;
        padding: 0.5em;
        height: 4em;
}

.hamburger {
        background-color: #cc5d10;
        height: 0.4em;
        width: 2.5em;
}
.county-svg {
        background-image: url(public/media/cc.png);
        height: 12em;
        width: 3em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /*position: absolute;*/
        /*top: -0.8em;*/
        /*right: 10em;*/
        filter: hue-rotate(47deg) saturate(1.5);
}
.navbar-outer {
        display: inline-flex;
        font-size: 1em;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        animation: 0.2s linear navbar-load;;
        z-index: 101010101010;
        font-family: "Noto Serif Display", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        background: #c76a44;
        color: white;
        margin: 0 0 1.5em;
}

.logo-nav {
        padding: 1em;
        cursor: pointer;
}

/*@media screen and (orientation:landscape) {*/
.logoMain {
        font-size: 3em;
        text-align: center;
        margin: 1.2em 0 1em 0;
        font-family: "Noto Serif Display", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        font-weight: 900;
        color: #4e3419;
        position: absolute;
}
.ham-outer {
        display: none;
}
.nav-landscape > ul {
        display: inline-flex;
        list-style-type: none;
        /*margin-right: 2em;*/
}
.nav-landscape > ul > li {
        margin: 0 1em 0 1em;
        padding: 1em;
        cursor: pointer;
        letter-spacing: 2px;
}
.nav-landscape > ul > li:hover {
        background-color: #3c767b;
}
.nav-portrait {
        display: none;
}
.navbar-outer {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        /* align-items: stretch; */
        /* flex-direction: row; */
}
/*}*/
/*@media screen and (orientation:portrait) {*/
/*        .logoMain {*/
/*                font-size: 2em;*/
/*        }*/
/*        .county-svg {*/
/*                /*right: 5em;*/*/
/*                margin: 0em 1em 0 0;*/
/*        }*/
/*        .navbar-outer {*/
/*                background: none;*/
/*                display: flex;*/
/*                flex-direction: row;*/
/*                flex-wrap: nowrap;*/
/*                /* align-content: center; */*/
/*                align-items: center;*/
/*                height: 7em;*/
/*        }*/
/*        .logo-nav {*/
/*                max-width: 75%;*/
/*                line-height: 1.5em;*/
/*        }*/
/*        .nav-landscape {*/
/*                display: none;*/
/*        }*/
/*        .nav-portrait {*/
/*                position: fixed;*/
/*                background-color: #23b7c1;*/
/*                color: #ffffff;*/
/*                height: 100vh;*/
/*                padding: 2em 2em 1em 1em;*/
/*                font-size: 1.3em;*/
/*                top: 0;*/
/*        }*/
/*        .nav-portrait > ul {*/
/*                list-style-type: none;*/
/*        }*/
/*        .nav-portrait > ul > li {*/
/*                margin-top: 1em;*/
/*                text-align: right;*/
/*                cursor: pointer;*/
/*                padding: 0.2em;*/
/*        }*/
/*        .nav-portrait > ul > li:hover {*/
/*                background: #ffffff;*/
/*                color: #e16f6f;*/
/*        }*/
/*        .nav-portrait-logo {*/
/*                text-align: center;*/
/*                width: 100%;*/
/*                margin-bottom: 2em;*/
/*                background: #e16f6f;*/
/*                padding: 0.7em;*/
/*        }*/
/*}*/
@keyframes navbar-load {
        0% {transform: translateY(-3em);}
        90% {transform: translateY(-3em);}
        100% {transform: translateY(0);}
}
