<div class="template-wrapper mainlist-outer" id="mainlist-outer">
        <div class="mainlist-inner">
                <ul>
                        <li>
                                <div class="list-article">
                                        <div class="list-article-image"></div>
                                        <div class="list-article-title">Test Title</div>
                                        <div class="list-article-excerpt">This is an excerpt from a test article. There are many like it, but this one is mine.</div>
                                </div>
                        </li>
                </ul>
        </div>
<style>{{ template "mainlist.css" . }}</style>
<script>{{ template "mainlist.js" . }}</script>
</div>
